
.chat-side
  .side-header
    .side-box
      %p.user-name
        masa
      %ul.menu
        = link_to "#", class: "kaku" do
          %i.fa.fa-edit
        = link_to "#", class: "settei" do
          %i.fa.fa-cog
  .groups
    %p.classname
      techcamp
    %p.message
      まだメッセージがありません