
.chat-side
  .side-header
    .side-box
      %h3.user-name
        = current_user.name
      %ul.menu
        = link_to "#", class: "kaku" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'settei')
  .groups
    %p.classname
      techcamp
    %p.message
      まだメッセージがありません